* {
  box-sizing: border-box;
  font-size: 0.9rem;
}

#root {
  background-color: lightgray;
  height: 100vh;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.scheme-list {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.scheme {
  overflow: hidden;
  display: block;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scheme-img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.scheme-text {
  text-align: center;
  padding: 0.5rem;
  background-color: white;
}

.area {
  margin: 1rem;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.area-text {
  padding: 0.5rem;
}

.area-dropdown {
  display: inline-flexbox;
}

.area-dropdown > div > span {
  padding: 0.5rem;
}

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-button {
  padding: 0.75em 1em;
  margin: 0.75em;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}