* {
  box-sizing: border-box;
}

.scheme-list {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.scheme {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scheme-img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.scheme-text {
  text-align: center;
  padding: 0.5rem;
}